body {
  height: 2000px;
}

body, 
ul, 
h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}